# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\myworkspace\myproject\myworkspace\yuxin-generator-spring-boot\yuxin-generator-spring-boot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
